@model MissysPastrys.Models.Category.UpdateCategoryViewModel

@{
    ViewData["Title"] = "Update Category";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="UpdateCategory">

        </form>
    </div>
</div>
