@model MissysPastrys.Models.Pastry.CreatePastryViewModel
@{
    ViewData["Title"] = "Add new pastry";
}

@section Styles {
    @{
        await Html.RenderPartialAsync("_Select2CssPartial");
    }
}


<div class="body">

    <div class="row">
        <div class="col-md-6">
            <form asp-action="CreatePastry">
        <div class="col-md-12 mb-2">
            <label class="form-label">Categories:</label>
            <select asp-for="CategoryIds" class="form-control" asp-items="@ViewBag.Categories" data-placeholder="Select categories" multiple>
            </select>
                <span asp-validation-for="CategoryIds" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>>
        </div>

        <div class="form-group">
            <label asp-for="ShortDescription" class="control-label"></label>
            <input asp-for="ShortDescription" class="form-control" />
            <span asp-validation-for="ShortDescription" class="text-danger"></span>>
        </div>

        <div class="form-group">
            <label asp-for="ImageThumbnail" class="control-label"></label>
            <div class="custom-file">
                <input asp-for="ImageThumbnail" class="custom-file-input" id="customFile"/>
                <label class="custom-file-label" for="customFile"></label>
            </div>
            <span asp-validation-for="ImageThumbnail" class="text-danger"></span>>
        </div>

        <div class="form-group">
            <label asp-for="LongDescription" class="control-label"></label>
            <input asp-for="LongDescription" class="form-control" />
            <span asp-validation-for="LongDescription" class="text-danger"></span>>
        </div>

        <div class="form-group">
            <label asp-for="Image" class="control-label"></label>
            <div class="custom-file">
                <input asp-for="Image" class="custom-file-input" id="customFile"/>
                <label class="custom-file-label" for="customFile"></label>
            </div>
            <span asp-validation-for="Image" class="text-danger"></span>>
        </div>

        <div class="form-group">
            <label asp-for="SellingPrice" class="control-label"></label>
            <input asp-for="SellingPrice" class="form-control" />
            <span asp-validation-for="SellingPrice" class="text-danger"></span>>
        </div>

        <div class="form-group">
            <label asp-for="CostPrice" class="control-label"></label>
            <input asp-for="CostPrice" class="form-control" />
            <span asp-validation-for="CostPrice" class="text-danger"></span>>
        </div>
        <div class="form-group">
            <input type="submit" value="Add pastry" class="btn btn-primary"/>
        </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_Select2JsPartial");
    }
}
